body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d3/Flag_of_Kazakhstan.svg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

.btn{
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px 7px;
  border-radius: 5px;
}

.component-container{
  border-radius: 4px;
  background-color: rgb(238, 238, 238, 0.5);
  padding: 10px 20px;
  margin: 0 10px;
  width: 494px;
  display: flex;
  flex-direction: column;
}

.budget {
  width: 310px;
}